pyserial
textual
numba
pyttsx3
cupy-cuda12x
matplotlib
astropy
requests
pynmea2
numpy
psutil
pandas
streamlit
shapely
h5py          # For multi-dimensional HDF5 scientific data
struct        # For binary CCSDS-style packet packing (built-in)
